
.chartBoxBar {
  position: absolute;
  width: 93%;
  top: 20px;
  left: 2.5%;
  padding: 5px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}

.chartBoxPie {
  position: absolute;
  left: 2.5%;
  width: 93%;
  top: 410px;
  padding: 5px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}
