

.chartBoxBar {
  position: absolute;
  left: 10%;
  width: 27%;
  bottom: 0%;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}

.chartBoxPolar {
  position: absolute;
  right: 20%;
  bottom: 0%;
  width: 25%;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}

.chartBoxLine {
  position: absolute;
  right: 20%;
  top: 5.3%;
  width: 25%;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
}