body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 88vh;
  width: 80%;
  padding:20px;
}

.todo {
  border-radius: 0px;
  border-width: 5px;
  flex-grow: 1;
  background-color: rgb(247, 247, 247);
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 78%;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo li {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

li span {
  flex-grow: 1;
}

li button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

li button:hover {
  background-color: #da190b;
  color: white;
}
